@charset "utf-8";
/* CSS Document */

header {
	 background-image: url("img/fondoLargo.png");
	fixed;
  	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
	width: 100vw;
	box-sizing: border-box;
}

#logo {
	width: 35%;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 40px;
}
#fall {
	margin-left: 12%;
		font-family: 'Bebas Neue', cursive;
	font-size: 35px;
	letter-spacing: 2px;
	padding-bottom: 50px;
}

body {
   background-color: #F6F6F6;
         }

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 1px;
}

b {
	font-size: 18px;
}

.nombre-titulo {
	font-weight: 500;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	letter-spacing: 2px;
}

#principio {
	margin: auto;
	width: 42%;
	text-align: center;
	margin-top: 50px;
	max-width: 500px;
}

#partes-horario {
	width: 90%;
	margin: auto;
	max-width: 1200px;
	marign-top: 100px;
}

.dos-columnas {
	display: flex;
}

.izquierda, .derecha {
	background-color: rgba(255, 255, 250, 0.5);
	margin: 5px;
	padding: 15px;
	width: 50%;
	box-sizing: border-box;
	display: table-cell;
}
.especial {

	margin: 5px;
	padding: 15px;
	width: 50%;
	box-sizing: border-box;
	display: table-cell;
}

#footer {
	margin-top: 75px;
	width: 100%;
}

#mauro, #jose-fernando, #jose-ramon, #alfonso, #antonio {
	border-radius: 20px;
	background-color: aliceblue;
	height: 100px;
	text-align: center;
	margin-left: 10%;
}


.btn {
	display: block;
	background-color: #094893;
	padding: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 17px;
	letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
	.dos-columnas {
	display: block;
}
  .izquierda, .derecha, .especial {
   width: 100%;
	  display: block;

  }
	#fall {
	margin-left: 12%;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 50px;
}


}
